<div class="balloon">
    <h2 class="balloon__header">$[properties.balloonContentPlace]</h2>
    <a id="balloon-link" href="#" data-point="$[properties.balloonContentPoint]">$[properties.balloonContentAddress]</a>
    <div class="balloon__body">$[properties.balloonContentComment]</div>
    <div class="balloon__footer">$[properties.balloonContentDate]<span>$[properties.balloonContentName]</span></div>
</div>